.container {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 100vh;
}

.container-dark {
  background-color: #030712;
  color: #e5e5e5;
}

.main-container {
  padding: 3.2rem 0;
  width: 60%;
  display: grid;
  align-items: center;
  gap: 2.4rem;
}

/* Brand Brand Brand Brand */
/* Brand Brand Brand Brand */
/* Brand Brand Brand Brand */

.brand-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.brand-container img {
  width: 3.4rem;
}

.select-container {
  display: flex;
}
.select-font-style {
  height: 100%;
  margin-right: 1.2rem;
  padding: 0 2.4rem;
  font-family: "lora", serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: start;
  border: none;
  outline: none;
  background-color: #f8f9fa;
  background-image: url(/public/assets/images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 100% 55%;
  appearance: none;
  cursor: pointer;
}

.select-font-style-dark {
  background-color: #030712;
  color: #e5e5e5;
}

.select-font-style-container {
  position: relative;
}

.select-font-style-container::after {
  position: absolute;
  bottom: 0;
  left: 10%;
  content: "";
  width: 0;
  height: 1px;
  background-color: #adb5bd;
  transition: all 0.3s;
  cursor: pointer;
}

.select-font-style-container-dark::after {
  width: 80%;
}

.select-font-style-container:hover::after {
  width: 80%;
}

.select-display {
  padding-left: 1.2rem;
  display: flex;
  align-items: center;
  gap: 5px;
  border-left: 1px solid #adb5bd;
}

.select-display-dark {
  border-left: 1px solid #fff;
}

.select-display-img {
  width: 2.5rem;
  height: 2.5rem;
}

.select-display-img-dark path {
  stroke: #bd3fdd;
}

.display-input {
  appearance: none;
}

.switch-btn {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: #adb5bd;
  cursor: pointer;
  transition: all 0.3s;
}
.switch-btn::before {
  position: absolute;
  content: "";
  background-color: #f8f9fa;
  width: 2rem;
  height: 2rem;
  transform: scale(0.9);
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.display-input:checked + .switch-btn {
  background-color: #be4bdb;
}
.display-input:checked + .switch-btn::before {
  transform: translateX(2rem) scale(0.9);
}

/*  */

/* INPUT FIELD INPUT FIELD INPUT FIELD INPUT FIELD  */
/* INPUT FIELD INPUT FIELD INPUT FIELD INPUT FIELD  */
/* INPUT FIELD INPUT FIELD INPUT FIELD INPUT FIELD  */

.form-container {
  position: relative;
}
.form-input {
  font-family: "lora", serif;
  width: 100%;
  padding: 1.2rem;
  border: none;
  background-color: #e9ecef;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
  outline: none;
}

.form-input-dark {
  background-color: #1f2937;
  color: #f8f9fa;
}

.form-input-btn {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}

.form-input-btn-img {
  width: 2.5rem;
  height: 2.5rem;
  transition: all 0.3s;
}

.form-input-btn-img path {
  transition: all 0.3s;
}

.form-input-btn-img:hover.form-input-btn-img path {
  stroke: #d946ef;
}

/*  */

/* OUTPUT OUTPUT OUTPUT OUTPUT */
/* OUTPUT OUTPUT OUTPUT OUTPUT */
/* OUTPUT OUTPUT OUTPUT OUTPUT */

.output-container {
  display: flex;
  justify-content: space-between;
}

.output-text {
  font-size: 4.8rem;
  font-weight: 800;
}
.output-sub-text {
  font-family: "inter", serif;
  color: #be4bdb;
  font-size: 2rem;
  font-weight: 00;
}
.output-play-btn {
  background: none;
  border-radius: 50%;
  appearance: none;
  border: none;
  cursor: pointer;
}

.output-play-btn img {
  transition: all 0.3s;
  width: 7.5rem;
}

.output-play-btn img:hover {
  opacity: 50%;
}
/*  */

/* RESULT RESULT RESULT RESULT */
/* RESULT RESULT RESULT RESULT */
/* RESULT RESULT RESULT RESULT */

.result-container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.result-header {
  position: relative;
  font-style: italic;
  font-size: 2rem;
  margin-top: 4rem;
}

.result-header::after {
  position: absolute;
  top: 60%;
  right: 0;
  content: "";
  width: 90%;
  height: 1px;
  background-color: #e7e5e5;
}
.result-sub-header {
  color: #6f7174;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.result-sub-header-dark {
  color: #adb5bd;
}

.result-list {
  margin-bottom: 1.2rem;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.result-list-item {
  font-size: 1.6rem;
}

.result-list-item::marker {
  color: #be4bdb;
}

.synonym-container {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.synonym-container .result-sub-header {
  margin: 0;
}
.synonym-container .result-sub-header-dark {
  margin: 0;
  color: #adb5bd;
}

.result-list-synonym {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.result-list-item-synonym {
  font-size: 1.6rem;
  color: #bd3fdd;
  font-weight: 800;
  cursor: pointer;
}

/*  */

/* FOOTER FOOTER FOOTER FOOTER */
/* FOOTER FOOTER FOOTER FOOTER */
/* FOOTER FOOTER FOOTER FOOTER */

.footer-container {
  border-top: solid 1px #e7e5e5;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #6f7174;
}

.footer-container-dark {
  color: #e5e5e5;
}

.source-text {
  position: relative;
  color: #030712;
  margin-left: 1.2rem;
  transition: all 0.3s;
  font-weight: 600;
}

.source-text-dark {
  color: #e5e5e5;
}

.source-icon {
  position: absolute;
  right: -6%;
  width: 5%;
  transition: all 0.3s;
}

.source-text:link,
.source-text:visited {
  opacity: 50%;
}

.source-text:hover,
.source-text:active {
  filter: contrast(0);
}

.welcome {
  text-align: center;
}

.error {
  text-align: center;
  color: red;
}
